@import url("pygment_highlights.css");

/* --- General --- */

body {
  font-family: 'Lato', 'Times New Roman', serif;
  font-size: 20px;
  color: #404040;
  position: relative;
  background: #f5f5f5;
}
p {
  line-height: 1.3;
  margin: 15px 0;
}
p a {
  /* text-decoration: underline */
  color: #008AFF;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}
blockquote {
  color: #808080;
  font-style: italic;
  font-size: inherit;
}
blockquote p {
  margin-top: 0;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
.col-shiny {
  color: #074f66;
}
.col-js {
  color: #efcd17;
}
/* --- Navbar --- */

.navbar-custom {
  background: #17baef;
  border-bottom: 0 none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .nav li a {
  font-size: 16px;
  color: #0a7396;
  padding: 10px 20px;
  font-weight: 600;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #222;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  font-size: 22px;
  line-height: 0;
  height: 0;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus  {
  transform: scale(1.1);
}

.navbar-custom .navbar-brand {
  font-size: 22px;
  margin-top: 9px;
}

.navbar-custom.top-nav-short {
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.navbar-default .navbar-toggle {
  border-color: #074f66;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #074f66;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #4b92a9;
}
.navbar-default.top-nav-short .navbar-toggle {
  border-color: #aaa;
}
.navbar-default.top-nav-short .navbar-toggle .icon-bar {
  background-color: #aaa;
}
.navbar-default.top-nav-short .navbar-toggle:focus,
.navbar-default.top-nav-short .navbar-toggle:hover {
  background-color: #ddd;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 15px 0;
  }
  .navbar-custom .navbar-brand {
    font-size: 24px;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  body {
    font-size: 18px;
  }
  .navbar-default.top-nav-expanded {
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  .navbar-default.top-nav-expanded .navbar-toggle {
    border-color: #aaa;
  }
  .navbar-default.top-nav-expanded .navbar-toggle .icon-bar{
    background-color: #aaa;
  }
  .navbar-default.top-nav-expanded .navbar-toggle:focus,
  .navbar-default.top-nav-expanded .navbar-toggle:hover {
    background-color: #ddd;
  }
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0;
  background: #074f66;
  border-top: 1px #EAEAEA solid;
  margin-top: 50px;
  font-size: 14px;
  color: #eee;
  text-align: center;
}

footer a {
  color: #45b0bd;
}

footer .copyright {
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 0;
  margin-top: 35px;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0;
}

footer #footer-awesome {
  font-size: 22px;
  margin-bottom: 8px;
}
footer code {
  font-size: 18px;
  color: #333;
  background: #eee;
  padding: 3px 6px;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .copyright {
    font-size: 16px;
  }
  footer  #footer-awesome {
    font-size: 24px;
  }
  footer code {
    font-size: 20px;
  }
}

/* --- Header --- */
#page-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  background: #17baef;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 120px 20px 100px;
}
#page-title {
  font-size: 120px;
  font-weight: 800;
}
#page-subtitle {
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 0px black;
  margin-top: 25px;
}

#header-btns {
  margin-top: 35px;
}
#header-btns  .btn {
  padding: 10px 33px; 
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
  transition: background 0.3s;
}
#header-btn-left {
  background: #efcd17;
}
#header-btn-left:hover {
  background: #d6b91c;
}
#header-btn-right {
  background: #074f66;
}
#header-btn-right:hover {
  background: #053c4e;
}
#header-credits {
  font-size: 18px;
  margin-top: 120px;
}
#header-credits a {
  color: #074f66;
  margin: 0 10px;
}

@media only screen and (max-width: 767px) {
  #page-header {
    padding: 50px 10px 40px;
    margin-bottom: 25px;
  }
  #page-title {
    font-size: 80px;
    line-height: 80px;
  }
  #page-subtitle {
    font-size: 24px;
    margin-top: 10px;
  }
  #header-btns {
    margin-top: 25px;
  }
  #header-btns  .btn {
    padding: 7px 28px;
    font-size: 18px;
  }
  #header-credits {
    font-size: 16px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 450px) {
  #page-title {
    font-size: 50px;
    line-height: 50px;
  }
  #page-subtitle { 
    line-height: 30px;
  }
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Tables --- */

table {
  padding: 0;
}
table thead tr {
  color: #fff;
  background: #333;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #fbfbfb;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 8px 14px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* --- Code blocks --- */

code {
  background: #eee;
  color: #444;
}

pre {
  font-size: 16px;
  line-height: 1.5em;
  background: #FAFAFA;
  background-image: linear-gradient(#FAFAFA 50%, #FDFDFD 50%);
  background-position: 0px 10px;
  background-repeat: repeat;
  background-size: 3em 3em;
  border-left: 7px solid #444;
}

pre code {
  white-space: pre;
}

/* Specific pages */

.linked-section {
  padding-top: 85px;
  margin-top: -35px;
}

#demo-iframe {
  border:0 none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 3px;
}
