/* Used for the example */
.green {
  color: green;
}

/* Rules to make the page nicer */

body {
  padding: 0 20px;
  background: #fafafa;
  color: #333;
  font-size: 16px;
}

#header {
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 1px #000;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ddd;
  margin: 0 -35px 30px;
  background: url('header.png');
}

#title {
  font-size: 5em;
  text-shadow: 0 0 5px #000;
}

#subtitle {
  font-size: 2em;
}

#subsubtitle {
  font-size: 1.3em;
}

#subsubtitle a {
  color: #fdfdfd;
  text-decoration: underline;
}

.section-title {
  font-weight: bold;
  margin-top: 0;
}

.well {
  background: #FFFFFF;
}

#expr {
  height: auto;
  font-size: 22px;
}

#submitExpr {
  font-weight: bold;
  font-size: 16px;
  padding: 5px 20px;
}

#error {
  color: #FF0000;
  font-weight: bold;
}

#errorMsg {
  margin-left: 10px;
}

#test {
  font-size: 20px;
  margin: 30px 0;
}

#btn {
  font-size: 20px;
  background: #e0e0e0;
}

#examples-list a {
  cursor: pointer;
  font-family: monospace;
}
