/* Used for the example */
.green {
  background: green;
}

/* Rules to make the page nicer */

body {
  padding: 0 20px;
  background: #fafafa;
  color: #333;
  font-size: 16px;
}

#header {
  text-align: center;
  color: #fdfdfd;
  text-shadow: 0 0 1px #000;
  padding: 20px 0 40px;
  border-bottom: 1px solid #ddd;
  margin: 0 -35px 30px;
  background: url('header.png');
}

#title {
  font-size: 5em;
  text-shadow: 0 0 5px #000;
}

#subtitle {
  font-size: 2em;
}

#subsubtitle {
  font-size: 1.3em;
}

#subsubtitle a {
  color: #fdfdfd;
  text-decoration: underline;
}

.section-title {
  font-weight: bold;
  margin-top: 0;
}

.well {
  background: #FFFFFF;
}

#expr-container {
  margin: 20px 0 15px;
}

#expr-container .selectize-input {
  font-size: 26px;
  line-height: 26px;
}

#expr-container .selectize-dropdown {
  font-size: 22px;
  line-height: 28px;
}

#expr-container .selectize-dropdown-content {
  max-height: 300px;
  padding: 0;
}

#expr-container .selectize-dropdown-content .option {
  border-bottom: 1px dotted #ccc;
}

#submitExpr {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 20px;
}

#helpText {
  font-size: 18px;
}

#btn {
  font-size: 20px;
}
