body {
  background-color: #FAFAFA;
}

pre {
  width: 300px;
}

.section {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ddd;
  padding: 10px 20px;
  background-color: #fff;
  float: left;
  margin-right: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  min-height: 250px;
}

.section .title {
  font-weight: bold;
  font-size: 2em;
}

.section .output {
  margin: 10px 0 5px;
  font-weight: bold;
}
